@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header .navbar .navbar-brand {
  color: rgb(154, 147, 161);
  font-size: 40px;
}
header .navbar .nav-link {
  color: rgb(154, 147, 161);
  font-size: 18px;
}
header .bg-body-personalizado {
  padding: 10px 40px;
  background-color: #5d3669;
  width: 100%;
}

.tarjetas {
  display: flex;
  gap: 16px;
  margin: 20px;
}
.tarjetas .tarjeta {
  background-color: rgba(134, 76, 152, 0.6);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tarjetas .tarjeta .scale {
  transition: 0.7s;
}
.tarjetas .tarjeta:hover {
  transform: scale(1.04);
}
.tarjetas .tarjeta .tarjeta__imagen {
  width: 100%;
}
.tarjetas .tarjeta .tarjeta__titulo {
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 30px;
}
.tarjetas .tarjeta .tarjeta__parrafo {
  text-align: center;
  color: #fff;
}
.tarjetas .tarjeta .tarjeta__boton {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.parteSobreNosotros {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.parteSobreNosotros .tarjetanosotros {
  background-color: rgba(134, 76, 152, 0.6);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.parteSobreNosotros .tarjetanosotros .tarjetanosotros__imagen {
  width: 100%;
}
.parteSobreNosotros .tarjetanosotros .tarjetanosotros__titulo {
  display: flex;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 30px;
}
.parteSobreNosotros .tarjetanosotros .tarjetanosotros__parrafo {
  text-align: center;
}
.parteSobreNosotros .tarjetanosotros .tarjetanosotros__boton {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.partePrincipal {
  background-image: url("../../images/fascinante-vista-montana-sassolungo-italia_181624-42103.avif");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partePrincipal h2 {
  color: rgb(129, 129, 130);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 30px;
}

.footer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgb(202, 167, 218) 0%, rgb(222, 195, 240) 54%, rgb(126, 136, 177) 100%);
  font-weight: bold;
}
.footer p {
  margin: 0;
}
.footer .icono {
  width: 30px;
  display: flex;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #d2c1d4;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}
.formulario label {
  font-size: large;
  text-align: center;
}
.formulario input, .formulario textarea {
  background-color: rgba(251, 251, 251, 0.6705882353);
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(171, 68, 147, 0.6862745098);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.formulario .botonEnviar {
  padding: 5px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  border-radius: 20px;
  font-weight: bold;
  background-color: #ab4493;
  border-color: #ab4493;
}

.destinos {
  width: 100%;
  height: 500vh;
  padding: 16px;
  gap: 30px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "montana" "lagocristalino" "lago" "rio" "lagozugspitze" "rio2";
}
.destinos .destino {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  -webkit-animation: 3s anim-lineUp ease-in-out;
          animation: 3s anim-lineUp ease-in-out;
}
.destinos .destino h2 {
  color: aliceblue;
  font-size: xx-large;
  font-weight: 580;
}
.destinos .destino .parrafoDestinos {
  color: white;
  font-size: 22px;
  padding: 20px;
  text-align: center;
}
.destinos .destinos__montana {
  grid-area: montana;
  background-image: url("../../images/fascinante-paisaje-montanas-verdes-superficie-cielo-nublado_181624-27189.avif");
  background-size: cover;
  border-radius: 30px;
}
.destinos .destinos__lagocristalino {
  grid-area: lagocristalino;
  background-image: url("../../images/hermosa-foto-lago-cristalino-junto-base-montana-nevada-dia-soleado_181624-5459.avif");
  background-size: cover;
  border-radius: 30px;
}
.destinos .destinos__lago {
  grid-area: lago;
  background-image: url("../../images/hermosa-vista-lago-rodeado-montanas-lago-longrin-presa-suiza_181624-27908.avif");
  background-size: cover;
  border-radius: 30px;
}
.destinos .destinos__rio {
  grid-area: rio;
  background-image: url("../../images/hermoso-paisaje-rio-rodeado-vegetacion-bosque_181624-40482.avif");
  background-size: cover;
  border-radius: 30px;
}
.destinos .destinos__lagozugspitze {
  grid-area: lagozugspitze;
  background-image: url("../../images/impresionante-vista-lago-zugspitze-rodeado-bosques-eibsee_181624-9813.avif");
  background-size: cover;
  border-radius: 30px;
}
.destinos .destinos__rio2 {
  grid-area: rio2;
  background-image: url("../../images/rio-montanas-orilla-rocosa-pirineos_1398-5036.avif");
  border-radius: 30px;
}

.destino:nth-child(1) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.destino:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.destino:nth-child(3) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.destino:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.destino:nth-child(5) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.destino:nth-child(6) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes anim-lineUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim-lineUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.promociones {
  background-image: url("../../images/santa-maddalena-cordillera-dolomitastirol-sur.jpg");
  background-size: cover;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: ". texto";
}
.promociones .promociones__texto {
  grid-area: texto;
  color: white;
  background-color: rgba(134, 76, 152, 0.6);
  padding: 100px 60px;
}
.promociones .promociones__texto .borde {
  border-bottom: 3px dashed white;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.carrusel-personalizado {
  margin-top: 1px;
  margin-bottom: 40px;
}
.carrusel-personalizado .carousel-item {
  height: 450px;
}
.carrusel-personalizado .carousel-item img {
  height: 450px;
}
.carrusel-personalizado .carousel-item .carousel-caption {
  height: 200px;
}
.carrusel-personalizado .carousel-item .carousel-caption h5 {
  font-size: x-large;
}
.carrusel-personalizado .carousel-item .carousel-caption p {
  font-size: larger;
}

.opciones {
  display: flex;
  flex-direction: column;
}
.opciones h3 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.opciones .opciones__texto {
  text-align: center;
}

.tituloPagina {
  text-align: center;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 30px;
  margin: 100px 20px 0px 20px;
}

@media screen and (max-width: 1024px) {
  .tarjetas {
    flex-direction: column;
  }
  .parteSobreNosotros {
    flex-direction: column;
  }
  .promociones {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 768px) {
  .navbar-toggler {
    width: 70px;
    margin-bottom: 0;
  }
  .promociones {
    grid-template-columns: 1fr 3fr;
  }
  .titulosobrenosotros {
    margin-top: 120px;
  }
}/*# sourceMappingURL=estilos.css.map */