@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.bg-body-personalizado {
    padding: 10px 40px;
    background-color: #5d3669;
    width: 100%;
}

.navbar-brand {
    color: rgb(154, 147, 161);
    font-size: 40px;
}

.nav-link {
    color: rgb(154, 147, 161);
    font-size: 18px;
}


.partePrincipal {
    background-image: url(../images/fascinante-vista-montana-sassolungo-italia_181624-42103.avif);
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partePrincipal h2 {
    color: rgb(129, 129, 130);
    background-color: rgb(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 30px;
}

.opciones {
    display: inline-block;
}
.opciones1 {
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
}
.opciones2 {
    padding: 30px;
}

.tarjetas{
    display: flex;
    gap: 16px;
    margin: 20px;
}

.tarjeta {
    background-color: rgb(134, 76, 152, 0.6); 
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta__imagen{
    width: 100%;
}

.tarjeta__titulo{
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 30px;
}

.tarjeta__parrafo{
    display: flex;
    justify-content: center;
    color: #fff;
}

.tarjeta__boton{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
/* Destinos */
.tarjetas2{
    display:flex;
    flex-direction: column;
    gap: 16px;
    justify-content:center;
    width:100%;
    overflow: hidden;
}

.tarjeta2{
    position: relative;
    width: 100%;
    padding: 20px;
}

.tarjeta__imagen2{
    width: 100%;
}

.tarjeta__titulo2{
    position: absolute;
    bottom: 40px;
    left: 45%;
    color: aliceblue;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 30px;
}

/* Servicios */
.carrusel-personalizado {
    margin-top: 100px;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: -160px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: -160px;
    right: 20px;
}

/* Sobre nosotros */
.tarjetas4{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.tarjeta4{
    position: relative;
    padding: 100px;
}

.tarjeta__imagen4{
    width: 100%;
}

.tarjeta__titulo4{
    position: absolute;
    bottom: 40px;
    left: 45%;
    color: aliceblue;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 30px;
}

.tarjeta__parrafo4{
    position: absolute;
    bottom: -10px;
    left: 5%;
}

/* Contacto */

.contact_form{  
  width: 460px; 
  margin-top:100px;
  margin-left:500px;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #d2c1d4; 
  padding-left: 30px; 
  display: inline-block;
  position: relative;
}

input{
  background-color: #fbfbfbab; 
  width: 400px; 
  height: 40px; 
  border-radius: 10px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493af; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
  background-color:#fbfbfbab; 
  width: 400px; 
  height: 120px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493af; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{ 
  float: center;  
}


button{
  height: 45px; 
  padding: 5px; 
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


