.carrusel-personalizado {
    margin-top: 1px;
    margin-bottom:40px;

    .carousel-item{
        height: 450px;

        img{
            height: 450px;
        }

        .carousel-caption{
            height: 200px;

            h5 {
                font-size: x-large;
            }

            p{
                font-size: larger;
            }
        }
    } 
}

