.carrusel-personalizado {
    margin-top: 1px;
    margin-bottom:40px;

    .carousel-item{
        height: 450px;

        .img{
            height: 450px;
        }

        .carousel-caption{
            height: 200px;

            .h5 {
                font-size: x-large;
            }

            .p{
                font-size: larger;
            }
        }
    } 

    .carousel-control-prev-icon {
        position: absolute;
        bottom: -100px;
        left: 20px;
    }

    .carousel-control-next-icon {
        position: absolute;
        bottom: -100px;
        right: 20px;
    }
}