.partePrincipal {
    background-image: url("../../images/fascinante-vista-montana-sassolungo-italia_181624-42103.avif");
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        color: rgb(129, 129, 130);
        background-color: $colorTitulos;
        padding: 40px;
        border-radius: 30px; 
    }
}

