.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #d2c1d4; 
  width: 100%;
  max-width: 600px;
  margin: 50px auto;

  @include mobile {
    max-width: 400px;
  }

  label {
    font-size: large;
    text-align: center;
  }

  input, textarea{
    background-color: #fbfbfbab; 
    width: 400px; 
    height: 40px; 
    border-radius: 10px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493af; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 

    @include mobile {
      max-width: 300px;
    }
  }

  .botonEnviar {
    padding:5px;font-size:15px;background-color:$colorTitulos;color:aliceblue;
    border-radius: 20px;
    font-weight: bold;
    background-color: #ab4493; 
    border-color: #ab4493; 
  }

}