.destinos {
    width: 100%;
    height: 500vh;
    padding: 16px;
    gap: 30px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:  
        "montana"
        "lagocristalino"
        "lago"
        "rio"
        "lagozugspitze"
        "rio2";

    .destino{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        color: aliceblue;
        padding: 20px;
        font-size: xx-large;
        animation: 3s anim-lineUp ease-in-out;

        .parrafoDestinos{
            color: white;
            font-size: large;
            padding: 20px;
            text-align: center;
        }
     }

    .destinos__montana{
        grid-area: montana;
        background-image: url("../../images/fascinante-paisaje-montanas-verdes-superficie-cielo-nublado_181624-27189.avif");
        background-size: cover;
        border-radius: 30px;
    }

    .destinos__lagocristalino{
        grid-area: lagocristalino;
        background-image: url("../../images/hermosa-foto-lago-cristalino-junto-base-montana-nevada-dia-soleado_181624-5459.avif");
        background-size: cover;
        border-radius: 30px;
    }

    .destinos__lago{
        grid-area: lago;
        background-image: url("../../images/hermosa-vista-lago-rodeado-montanas-lago-longrin-presa-suiza_181624-27908.avif");
        background-size: cover;
        border-radius: 30px;
    }

    .destinos__rio{
        grid-area: rio;
        background-image: url("../../images/hermoso-paisaje-rio-rodeado-vegetacion-bosque_181624-40482.avif");
        background-size: cover;
        border-radius: 30px;
    }

    .destinos__lagozugspitze{
        grid-area: lagozugspitze;
        background-image: url("../../images/impresionante-vista-lago-zugspitze-rodeado-bosques-eibsee_181624-9813.avif");
        background-size: cover;
        border-radius: 30px;
    }

    .destinos__rio2{
        grid-area: rio2;
        background-image: url("../../images/rio-montanas-orilla-rocosa-pirineos_1398-5036.avif");
        border-radius: 30px;
    }
}

@for $titulos from 1 through 6 {
    .destino:nth-child(#{$titulos}) {
        animation-delay: $titulos * 2s;
    }
}


@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.promociones {
    background-image: url("../../images/santa-maddalena-cordillera-dolomitastirol-sur.jpg");
    background-size: cover;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        ". texto";

    .promociones__texto {
        grid-area: texto;
        color: white;
        background-color: $mainColor; 
        padding: 100px 60px;
    
        .borde {
            border-bottom: 3px dashed white;
            margin-bottom: 60px;
            padding-bottom: 30px;
        }
    }
}