header {
    .navbar{
        .navbar-brand {
            color: rgb(154, 147, 161);
            font-size: 40px;
        }

        .nav-link {
            color: rgb(154, 147, 161);
            font-size: 18px;
        }
    }

    .bg-body-personalizado {
        padding: 10px 40px;
        background-color: $secondaryColor;
        width: 100%;
    }
}



