.opciones {
    display: flex;
    flex-direction: column;

    h3{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .opciones__texto {
        text-align: center;
    }
}

.tituloPagina {
    text-align: center;
    color: aliceblue;
    background-color: $colorTitulos;
    padding: 20px;
    border-radius: 30px;
    margin: 100px 20px 0px 20px; 
}


