@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;0,700;1,100&display=swap');
$fontRaleway: 'Raleway', sans-serif;
$mainColor: rgb(134, 76, 152, 0.6); 
$secondaryColor:#5d3669;
$colorTitulos:  rgba(0, 0, 0, 0.6);